CODE/PaymentsService/Connected Services/CreditApiProxyV2/wscredit2000.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Credit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="input" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreditResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreditResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="input" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreditXMLPro">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cvvNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cardType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="vendorName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="purchaseType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="currency" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cardNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="validationMonth" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="validationYear" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="totalPayment" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="paymentsNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="firstPayment" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fixedAmmount" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="customerId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="returnCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="confirmationNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="actionType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cardReader" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="confirmationSource" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tzNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="club" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="stars" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="readerData" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ClientKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FullName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Fax" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Coments" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreditXMLProResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreditXMLProResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cardType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cardNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="validationMonth" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="validationYear" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="returnCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="confirmationNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BalanceOut" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IdStatusOut" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IdCVVOut" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CompanyIdOut" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreditXML">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cvvNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cardType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="vendorName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="purchaseType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="currency" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cardNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="validationMonth" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="validationYear" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="totalPayment" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="paymentsNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="firstPayment" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fixedAmmount" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="customerId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="returnCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="confirmationNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="actionType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cardReader" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="confirmationSource" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tzNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="club" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="stars" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="readerData" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ClientKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreditXMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreditXMLResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cardType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cardNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="returnCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="confirmationNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreditXmlWithInvoice">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cvvNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cardType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="vendorName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="purchaseType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="currency" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cardNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="validationMonth" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="validationYear" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="totalPayment" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="paymentsNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="firstPayment" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fixedAmmount" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="customerId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="returnCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="confirmationNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="actionType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cardReader" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="confirmationSource" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tzNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="club" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="stars" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="readerData" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ClientKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fullName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="address" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="phone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="comments" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreditXmlWithInvoiceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreditXmlWithInvoiceResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cardType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cardNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="returnCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="confirmationNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getTokenAndApprove">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="uid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="approveNum" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="returnCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="customerId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="validDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cardType" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getTokenAndApproveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getTokenAndApproveResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="approveNum" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="returnCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="customerId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="validDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cardType" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getTokenAndApproveAndCardReader">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="uid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="approveNum" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="returnCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="customerId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="validDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="readerData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getTokenAndApproveAndCardReaderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getTokenAndApproveAndCardReaderResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="approveNum" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="returnCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="customerId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="validDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="readerData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getTokenAndApproveWithParams">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="uid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getTokenAndApproveWithParamsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getTokenAndApproveWithParamsResult" type="tns:Paramtrs" />
            <s:element minOccurs="0" maxOccurs="1" name="cardType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Paramtrs">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="tz_Number" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="club" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="confirmation_Source" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="action_Type" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="card_Reader" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="client_Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="host" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="company_Key" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="stars" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="reader_Data" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="currency" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="total_Pyment" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="purchase_Type" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="uID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="vendor_Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="product_Id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="return_Code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fixed_Amount" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="payments_Number" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="first_Payment" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Approve" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ValidDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StyleSheet" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Lang" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="getTokenAndApprovePro">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="uid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getTokenAndApproveProResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getTokenAndApproveProResult" type="tns:Paramtrs" />
            <s:element minOccurs="0" maxOccurs="1" name="cardType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mutag" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendParamToCredit2000">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="parametr" type="tns:Paramtrs" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendParamToCredit2000Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendParamToCredit2000Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCreditCardCompany">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreditCardNum" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCreditCardCompanyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCreditCardCompanyResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SendToHiuvDebit2000">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="data" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ClientKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="VendorName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Action" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendToHiuvDebit2000Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendToHiuvDebit2000Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenerateValidUnicId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vendorName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ClientKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CreditCardNum" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Tz" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenerateValidUnicIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GenerateValidUnicIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDataAfterSendDebit2000">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ClientKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="VendorName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDataAfterSendDebit2000Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDataAfterSendDebit2000Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveDataToTransactionDetals">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vendor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ConfirmNum" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Tz" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CustomerId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FourLastNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveDataToTransactionDetalsResponse">
        <s:complexType />
      </s:element>
      <s:element name="SendParamforRecoveryCreditCard">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Token" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Vendor_Name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Tz_Number" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="company_Key" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="styleUrl" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendParamforRecoveryCreditCardResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendParamforRecoveryCreditCardResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CreditSoapIn">
    <wsdl:part name="parameters" element="tns:Credit" />
  </wsdl:message>
  <wsdl:message name="CreditSoapOut">
    <wsdl:part name="parameters" element="tns:CreditResponse" />
  </wsdl:message>
  <wsdl:message name="CreditXMLProSoapIn">
    <wsdl:part name="parameters" element="tns:CreditXMLPro" />
  </wsdl:message>
  <wsdl:message name="CreditXMLProSoapOut">
    <wsdl:part name="parameters" element="tns:CreditXMLProResponse" />
  </wsdl:message>
  <wsdl:message name="CreditXMLSoapIn">
    <wsdl:part name="parameters" element="tns:CreditXML" />
  </wsdl:message>
  <wsdl:message name="CreditXMLSoapOut">
    <wsdl:part name="parameters" element="tns:CreditXMLResponse" />
  </wsdl:message>
  <wsdl:message name="CreditXmlWithInvoiceSoapIn">
    <wsdl:part name="parameters" element="tns:CreditXmlWithInvoice" />
  </wsdl:message>
  <wsdl:message name="CreditXmlWithInvoiceSoapOut">
    <wsdl:part name="parameters" element="tns:CreditXmlWithInvoiceResponse" />
  </wsdl:message>
  <wsdl:message name="getTokenAndApproveSoapIn">
    <wsdl:part name="parameters" element="tns:getTokenAndApprove" />
  </wsdl:message>
  <wsdl:message name="getTokenAndApproveSoapOut">
    <wsdl:part name="parameters" element="tns:getTokenAndApproveResponse" />
  </wsdl:message>
  <wsdl:message name="getTokenAndApproveAndCardReaderSoapIn">
    <wsdl:part name="parameters" element="tns:getTokenAndApproveAndCardReader" />
  </wsdl:message>
  <wsdl:message name="getTokenAndApproveAndCardReaderSoapOut">
    <wsdl:part name="parameters" element="tns:getTokenAndApproveAndCardReaderResponse" />
  </wsdl:message>
  <wsdl:message name="getTokenAndApproveWithParamsSoapIn">
    <wsdl:part name="parameters" element="tns:getTokenAndApproveWithParams" />
  </wsdl:message>
  <wsdl:message name="getTokenAndApproveWithParamsSoapOut">
    <wsdl:part name="parameters" element="tns:getTokenAndApproveWithParamsResponse" />
  </wsdl:message>
  <wsdl:message name="getTokenAndApproveProSoapIn">
    <wsdl:part name="parameters" element="tns:getTokenAndApprovePro" />
  </wsdl:message>
  <wsdl:message name="getTokenAndApproveProSoapOut">
    <wsdl:part name="parameters" element="tns:getTokenAndApproveProResponse" />
  </wsdl:message>
  <wsdl:message name="SendParamToCredit2000SoapIn">
    <wsdl:part name="parameters" element="tns:SendParamToCredit2000" />
  </wsdl:message>
  <wsdl:message name="SendParamToCredit2000SoapOut">
    <wsdl:part name="parameters" element="tns:SendParamToCredit2000Response" />
  </wsdl:message>
  <wsdl:message name="GetCreditCardCompanySoapIn">
    <wsdl:part name="parameters" element="tns:GetCreditCardCompany" />
  </wsdl:message>
  <wsdl:message name="GetCreditCardCompanySoapOut">
    <wsdl:part name="parameters" element="tns:GetCreditCardCompanyResponse" />
  </wsdl:message>
  <wsdl:message name="SendToHiuvDebit2000SoapIn">
    <wsdl:part name="parameters" element="tns:SendToHiuvDebit2000" />
  </wsdl:message>
  <wsdl:message name="SendToHiuvDebit2000SoapOut">
    <wsdl:part name="parameters" element="tns:SendToHiuvDebit2000Response" />
  </wsdl:message>
  <wsdl:message name="GenerateValidUnicIdSoapIn">
    <wsdl:part name="parameters" element="tns:GenerateValidUnicId" />
  </wsdl:message>
  <wsdl:message name="GenerateValidUnicIdSoapOut">
    <wsdl:part name="parameters" element="tns:GenerateValidUnicIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetDataAfterSendDebit2000SoapIn">
    <wsdl:part name="parameters" element="tns:GetDataAfterSendDebit2000" />
  </wsdl:message>
  <wsdl:message name="GetDataAfterSendDebit2000SoapOut">
    <wsdl:part name="parameters" element="tns:GetDataAfterSendDebit2000Response" />
  </wsdl:message>
  <wsdl:message name="SaveDataToTransactionDetalsSoapIn">
    <wsdl:part name="parameters" element="tns:SaveDataToTransactionDetals" />
  </wsdl:message>
  <wsdl:message name="SaveDataToTransactionDetalsSoapOut">
    <wsdl:part name="parameters" element="tns:SaveDataToTransactionDetalsResponse" />
  </wsdl:message>
  <wsdl:message name="SendParamforRecoveryCreditCardSoapIn">
    <wsdl:part name="parameters" element="tns:SendParamforRecoveryCreditCard" />
  </wsdl:message>
  <wsdl:message name="SendParamforRecoveryCreditCardSoapOut">
    <wsdl:part name="parameters" element="tns:SendParamforRecoveryCreditCardResponse" />
  </wsdl:message>
  <wsdl:portType name="wsCredit2000Soap">
    <wsdl:operation name="Credit">
      <wsdl:input message="tns:CreditSoapIn" />
      <wsdl:output message="tns:CreditSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreditXMLPro">
      <wsdl:input message="tns:CreditXMLProSoapIn" />
      <wsdl:output message="tns:CreditXMLProSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreditXML">
      <wsdl:input message="tns:CreditXMLSoapIn" />
      <wsdl:output message="tns:CreditXMLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreditXmlWithInvoice">
      <wsdl:input message="tns:CreditXmlWithInvoiceSoapIn" />
      <wsdl:output message="tns:CreditXmlWithInvoiceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getTokenAndApprove">
      <wsdl:input message="tns:getTokenAndApproveSoapIn" />
      <wsdl:output message="tns:getTokenAndApproveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getTokenAndApproveAndCardReader">
      <wsdl:input message="tns:getTokenAndApproveAndCardReaderSoapIn" />
      <wsdl:output message="tns:getTokenAndApproveAndCardReaderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getTokenAndApproveWithParams">
      <wsdl:input message="tns:getTokenAndApproveWithParamsSoapIn" />
      <wsdl:output message="tns:getTokenAndApproveWithParamsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getTokenAndApprovePro">
      <wsdl:input message="tns:getTokenAndApproveProSoapIn" />
      <wsdl:output message="tns:getTokenAndApproveProSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendParamToCredit2000">
      <wsdl:input message="tns:SendParamToCredit2000SoapIn" />
      <wsdl:output message="tns:SendParamToCredit2000SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCreditCardCompany">
      <wsdl:input message="tns:GetCreditCardCompanySoapIn" />
      <wsdl:output message="tns:GetCreditCardCompanySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendToHiuvDebit2000">
      <wsdl:input message="tns:SendToHiuvDebit2000SoapIn" />
      <wsdl:output message="tns:SendToHiuvDebit2000SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GenerateValidUnicId">
      <wsdl:input message="tns:GenerateValidUnicIdSoapIn" />
      <wsdl:output message="tns:GenerateValidUnicIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDataAfterSendDebit2000">
      <wsdl:input message="tns:GetDataAfterSendDebit2000SoapIn" />
      <wsdl:output message="tns:GetDataAfterSendDebit2000SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveDataToTransactionDetals">
      <wsdl:input message="tns:SaveDataToTransactionDetalsSoapIn" />
      <wsdl:output message="tns:SaveDataToTransactionDetalsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendParamforRecoveryCreditCard">
      <wsdl:input message="tns:SendParamforRecoveryCreditCardSoapIn" />
      <wsdl:output message="tns:SendParamforRecoveryCreditCardSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsCredit2000Soap" type="tns:wsCredit2000Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Credit">
      <soap:operation soapAction="http://tempuri.org/Credit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreditXMLPro">
      <soap:operation soapAction="http://tempuri.org/CreditXMLPro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreditXML">
      <soap:operation soapAction="http://tempuri.org/CreditXML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreditXmlWithInvoice">
      <soap:operation soapAction="http://tempuri.org/CreditXmlWithInvoice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTokenAndApprove">
      <soap:operation soapAction="http://tempuri.org/getTokenAndApprove" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTokenAndApproveAndCardReader">
      <soap:operation soapAction="http://tempuri.org/getTokenAndApproveAndCardReader" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTokenAndApproveWithParams">
      <soap:operation soapAction="http://tempuri.org/getTokenAndApproveWithParams" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTokenAndApprovePro">
      <soap:operation soapAction="http://tempuri.org/getTokenAndApprovePro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendParamToCredit2000">
      <soap:operation soapAction="http://tempuri.org/SendParamToCredit2000" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCreditCardCompany">
      <soap:operation soapAction="http://tempuri.org/GetCreditCardCompany" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendToHiuvDebit2000">
      <soap:operation soapAction="http://tempuri.org/SendToHiuvDebit2000" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateValidUnicId">
      <soap:operation soapAction="http://tempuri.org/GenerateValidUnicId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataAfterSendDebit2000">
      <soap:operation soapAction="http://tempuri.org/GetDataAfterSendDebit2000" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveDataToTransactionDetals">
      <soap:operation soapAction="http://tempuri.org/SaveDataToTransactionDetals" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendParamforRecoveryCreditCard">
      <soap:operation soapAction="http://tempuri.org/SendParamforRecoveryCreditCard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsCredit2000Soap12" type="tns:wsCredit2000Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Credit">
      <soap12:operation soapAction="http://tempuri.org/Credit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreditXMLPro">
      <soap12:operation soapAction="http://tempuri.org/CreditXMLPro" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreditXML">
      <soap12:operation soapAction="http://tempuri.org/CreditXML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreditXmlWithInvoice">
      <soap12:operation soapAction="http://tempuri.org/CreditXmlWithInvoice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTokenAndApprove">
      <soap12:operation soapAction="http://tempuri.org/getTokenAndApprove" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTokenAndApproveAndCardReader">
      <soap12:operation soapAction="http://tempuri.org/getTokenAndApproveAndCardReader" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTokenAndApproveWithParams">
      <soap12:operation soapAction="http://tempuri.org/getTokenAndApproveWithParams" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTokenAndApprovePro">
      <soap12:operation soapAction="http://tempuri.org/getTokenAndApprovePro" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendParamToCredit2000">
      <soap12:operation soapAction="http://tempuri.org/SendParamToCredit2000" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCreditCardCompany">
      <soap12:operation soapAction="http://tempuri.org/GetCreditCardCompany" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendToHiuvDebit2000">
      <soap12:operation soapAction="http://tempuri.org/SendToHiuvDebit2000" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateValidUnicId">
      <soap12:operation soapAction="http://tempuri.org/GenerateValidUnicId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataAfterSendDebit2000">
      <soap12:operation soapAction="http://tempuri.org/GetDataAfterSendDebit2000" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveDataToTransactionDetals">
      <soap12:operation soapAction="http://tempuri.org/SaveDataToTransactionDetals" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendParamforRecoveryCreditCard">
      <soap12:operation soapAction="http://tempuri.org/SendParamforRecoveryCreditCard" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsCredit2000">
    <wsdl:port name="wsCredit2000Soap" binding="tns:wsCredit2000Soap">
      <soap:address location="https://www.credit2000.co.il/pci_tkn_ver2/wcf/wscredit2000.asmx" />
    </wsdl:port>
    <wsdl:port name="wsCredit2000Soap12" binding="tns:wsCredit2000Soap12">
      <soap12:address location="https://www.credit2000.co.il/pci_tkn_ver2/wcf/wscredit2000.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>